.ModalCloseBtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0;
    background: transparent;
    border: none;
}
.ModalCloseBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
