.warning, .primary, .success, .danger {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    z-index: 999;
    width: 300px;
    padding: 15px;
}
.warning {
    background: #ffe599;
    color: #d6a108;
}
.primary {
    background: #fff;
    color: #b7b7b7;
}
.success {
    background: #a7ffa5;
    color: #0c7f0a;
}
.danger {
    background: #ffaaaa;
    color: #a31010;
}
