.green, .yellow, .white, .red {
    border-radius: 5px;
    color: #ffffff;
    border: none;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    width: 250px;
}
.red {
    background: #c61717;
}
.yellow {
    background: #f4ce42;
}
.white {
    background: #ffffff;
    color: #000;
    border: 1px solid #000000;
}
.green {
    background: #18af50;
}
